* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
}

window {
  margin: 0px;
  border: 2px solid #b08cff;
  border-radius: 8px;
  background-color: #0f1221;
}

#input {
  margin: 10px;
  padding: 8px 10px;
  border: none;
  border-radius: 6px;
  color: #dbe2ff;
  background-color: #171a2d;
}

#inner-box {
  margin: 0 10px 10px 10px;
  border: none;
  background-color: transparent;
}

#outer-box {
  margin: 0;
  border: none;
  background-color: transparent;
}

#scroll {
  margin: 0;
  border: none;
}

#text {
  margin: 4px;
  color: #dbe2ff;
}

#entry {
  padding: 6px;
  border-radius: 6px;
}

#entry:selected {
  background-color: #232845;
}
